name: x86_64 release builds
on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - { name: ucrt-x86_64, sys: UCRT64 }

    steps:
      - uses: actions/checkout@v3

      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.sys }}
          update: true
          install: >-
            git
            patch
            mingw-w64-${{ matrix.name }}-toolchain
            mingw-w64-${{ matrix.name }}-cmake
            mingw-w64-${{ matrix.name }}-ninja
            mingw-w64-${{ matrix.name }}-clang
            mingw-w64-${{ matrix.name }}-zlib
            mingw-w64-${{ matrix.name }}-zstd
            mingw-w64-${{ matrix.name }}-brotli
            mingw-w64-${{ matrix.name }}-7zip

      - name: Import GPG keys
        shell: msys2 {0}
        run: |
          git clone https://github.com/msys2/MSYS2-keyring.git
          gpg --import MSYS2-keyring/msys2.gpg

      - name: Build Qt6.10 base using clang++
        shell: msys2 {0}
        run: |
          wget https://mirror.msys2.org/mingw/sources/mingw-w64-qt6-base-6.10.0-2.src.tar.zst
          wget https://mirror.msys2.org/mingw/sources/mingw-w64-qt6-base-6.10.0-2.src.tar.zst.sig
          gpg --verify \
              mingw-w64-qt6-base-6.10.0-2.src.tar.zst.sig \
              mingw-w64-qt6-base-6.10.0-2.src.tar.zst
          tar -xf mingw-w64-qt6-base-6.10.0-2.src.tar.zst
          cd mingw-w64-qt6-base
          tar -xf qtbase-everywhere-src-6.10.0.tar.xz
          cd qtbase-everywhere-src-6.10.0
          patch -Nbp1 --input=../001-appending-qt6-to-remove-qt5-conflict.patch
          patch -Nbp1 --input=../002-fix-qtdocs-helpers-cmake.patch
          patch -Nbp1 --input=../003-adjust-qmake-conf-mingw.patch
          patch -Nbp1 --input=../004-qt-6.2.0-win32-g-Add-QMAKE_EXTENSION_IMPORTLIB-defaulting-to-.patch
          patch -Nbp1 --input=../005-qt-6.7.0-opengl-header.patch
          patch -Nbp1 --input=../006-qt-6.2.0-dont-add-resource-files-to-qmake-libs.patch
          patch -Nbp1 --input=../008-freetype-fonts-fallback-dir.patch
          patch -Nbp1 --input=../009-qfileinfo-undefine-mingw-stat.patch
          patch -Nbp1 --input=../011-qt6-windeployqt-fixes.patch
          patch -Nbp1 --input=../010-export-some-constexpr-variables.patch
          sed -i "/add_subdirectory(psql)/I d" src/plugins/sqldrivers/CMakeLists.txt
          sed -i "/add_subdirectory(mysql)/I d" src/plugins/sqldrivers/CMakeLists.txt
          sed -i "/add_subdirectory(odbc)/I d" src/plugins/sqldrivers/CMakeLists.txt
          sed -i "/add_subdirectory(oci)/I d" src/plugins/sqldrivers/CMakeLists.txt
          sed -i "/add_subdirectory(db2)/I d" src/plugins/sqldrivers/CMakeLists.txt
          sed -i "/add_subdirectory(ibase)/I d" src/plugins/sqldrivers/CMakeLists.txt
          sed -i "/add_subdirectory(mimer)/I d" src/plugins/sqldrivers/CMakeLists.txt
          sed -i "s|QMAKE_CFLAGS\([ +]*\)=\(.*\)|QMAKE_CFLAGS\1=\2 -march=nocona -msahf -mtune=generic -Wa,-mbig-obj|g" mkspecs/win32-clang-g++/qmake.conf
          sed -i "s|QMAKE_CXXFLAGS\([ +]*\)=\(.*\)|QMAKE_CXXFLAGS\1=\2 -march=nocona -msahf -mtune=generic -Wa,-mbig-obj|g" mkspecs/win32-clang-g++/qmake.conf
          CXXFLAGS+=" -Wno-character-conversion"
          mkdir build && cd build
          ../configure \
              CMAKE_C_COMPILER=clang \
              CMAKE_CXX_COMPILER=clang++ \
              CMAKE_BUILD_TYPE=Release \
              CMAKE_INSTALL_PREFIX=`cygpath -m ${MINGW_PREFIX}` \
              OPENSSL_USE_STATIC_LIBS=ON \
              -force-bundled-libs \
              -system-zlib \
              -no-dbus \
              -openssl-linked
          cmake --build .
          cmake --install . --strip
          ln -s ${MINGW_PREFIX}/bin/qmake-qt6 ${MINGW_PREFIX}/bin/qmake6.exe
          ln -s ${MINGW_PREFIX}/bin/qtpaths-qt6 ${MINGW_PREFIX}/bin/qtpaths6.exe
          ln -s ${MINGW_PREFIX}/bin/windeployqt-qt6 ${MINGW_PREFIX}/bin/windeployqt6.exe
          export PREFIX_WIN=$(cygpath -m ${MINGW_PREFIX})
          find "${MINGW_PREFIX}/share/qt6" -type f \( -name '*.pri' -o -name '*.bat' \) \
              -exec sed -i -e "s|${PREFIX_WIN}|${MINGW_PREFIX}|g" {} \;
          find "${MINGW_PREFIX}/bin" -type f \( -name '*.bat' \) \
              -exec sed -i -e "s|${PREFIX_WIN}|${MINGW_PREFIX}|g" {} \;
          find "${MINGW_PREFIX}/lib/cmake" -type f \( -name '*.cmake' \) \
              -exec sed -i -e "s|${PREFIX_WIN}|${MINGW_PREFIX}|g" {} \;

      - name: Build Qt6.10 tools using clang++
        shell: msys2 {0}
        run: |
          wget https://repo.msys2.org/mingw/sources/mingw-w64-qt6-tools-6.10.0-1.src.tar.zst
          wget https://repo.msys2.org/mingw/sources/mingw-w64-qt6-tools-6.10.0-1.src.tar.zst.sig
          gpg --verify \
              mingw-w64-qt6-tools-6.10.0-1.src.tar.zst.sig \
              mingw-w64-qt6-tools-6.10.0-1.src.tar.zst
          tar -xf mingw-w64-qt6-tools-6.10.0-1.src.tar.zst
          cd mingw-w64-qt6-tools
          tar -xf qttools-everywhere-src-6.10.0.tar.xz
          cd qttools-everywhere-src-6.10.0
          patch -Nbp1 --input=../001-appending-qt6-to-remove-qt5-conflict.patch
          mkdir build && cd build
          cmake --no-warn-unused-cli \
                -D CMAKE_C_COMPILER=clang \
                -D CMAKE_CXX_COMPILER=clang++ \
                -D CMAKE_BUILD_TYPE=Release \
                -D CMAKE_INSTALL_PREFIX=`cygpath -m ${MINGW_PREFIX}` \
                ..
          cmake --build .
          cmake --install . --strip
          ln -s ${MINGW_PREFIX}/bin/qtdiag-qt6 ${MINGW_PREFIX}/bin/qtdiag6.exe

      - name: Build Qt6.10 translations using clang++
        shell: msys2 {0}
        run: |
          wget https://repo.msys2.org/mingw/sources/mingw-w64-qt6-translations-6.10.0-1.src.tar.zst
          wget https://repo.msys2.org/mingw/sources/mingw-w64-qt6-translations-6.10.0-1.src.tar.zst.sig
          gpg --verify \
              mingw-w64-qt6-translations-6.10.0-1.src.tar.zst.sig \
              mingw-w64-qt6-translations-6.10.0-1.src.tar.zst
          tar -xf mingw-w64-qt6-translations-6.10.0-1.src.tar.zst
          cd mingw-w64-qt6-translations
          tar -xf qttranslations-everywhere-src-6.10.0.tar.xz
          cd qttranslations-everywhere-src-6.10.0
          mkdir build && cd build
          cmake --no-warn-unused-cli \
                -D CMAKE_C_COMPILER=clang \
                -D CMAKE_CXX_COMPILER=clang++ \
                -D CMAKE_BUILD_TYPE=Release \
                -D CMAKE_INSTALL_PREFIX=`cygpath -m ${MINGW_PREFIX}` \
                ..
          cmake --build .
          cmake --install . --strip

      - name: Build
        shell: msys2 {0}
        run: |
          cmake -B build \
                -D CMAKE_BUILD_TYPE=Release \
                -D CMAKE_C_COMPILER=clang \
                -D CMAKE_CXX_COMPILER=clang++ \
                --no-warn-unused-cli \
                -S .
          cd build
          cmake --build .
          mkdir $PWD/bilibilicardbrowser-${{ matrix.name }}
          strip -p bilibilicardbrowser.exe -o bilibilicardbrowser-${{ matrix.name }}/bilibilicardbrowser.exe
          windeployqt6 bilibilicardbrowser-${{ matrix.name }} --release --exclude-plugins qpdf,qsvg --translations en,zh_CN
          cp -v ../scripts/qt.conf bilibilicardbrowser-${{ matrix.name }}
          ../scripts/copy_deps bilibilicardbrowser-${{ matrix.name }}
          7z a bilibilicardbrowser-${{ matrix.name }}.7z bilibilicardbrowser-${{ matrix.name }}

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: bilibilicardbrowser-${{ matrix.name }}
          path: ${{ github.workspace }}/build/bilibilicardbrowser-${{ matrix.name }}.7z

  release:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          path: ./
          merge-multiple: true

      - name: Upload to Release
        id: upload_to_release
        uses: softprops/action-gh-release@v1
        with:
          files: "*.7z"
